body {
	margin-top: 40px;
	margin-right: 40px;
}
img {
	filter: contrast(28%);
}
.container {
	position: relative;
}
.nav {
	position: relative;
	margin-top: -580px;
	margin-right: -50px;
	color: white;
}
.cv {
	position: absolute;
	margin-left: -1100px;
	font-family: 'Vast Shadow', cursive;
}
.photo {
	display: flex;
	justify-content: center;
	filter: contrast(3);
	margin-right: 10px;
	margin-top: 40px;
	position: relative;
}
.name {
	position: absolute;
	margin-top: 280px;
}
.span {
	position: absolute;
	margin-top: 320px;
}
.button {
	position: absolute;
	margin-top: 350px;
}
button {
	background-color: rgb(32, 122, 32);
	color: #ccc;
}
footer {
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 370px;
	margin-bottom: 30px;
}

span p {
	width: 50px;
	height: 50px;
	background: #777;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	margin: 0 10px;
	display: block;
	border-radius: 50%;
	color: #fff;
}
/* Card */
.card-container {
	margin-top: 330px;
}
.card1 {
	position: absolute;
}
.card2 {
	position: relative;
	margin-left: 600px;
	margin-right: -14px;
}
.age {
	margin: 87px;
}
.email {
	margin: 70px;
}
.tel {
	margin: 63px;
}
.add {
	margin: 50px;
}
.lang {
	margin: 40px;
}
